@import "../../index.scss";

.card {
  box-shadow: inset 0px 0px 0px 2px var(--vim-vimVar);
  display: flex;
  flex-direction: column;
  @include paddingsFullEqual;

  .picture {
    max-height: calc(300px + var(--sv));
    width: calc(100% + var(--sh));
    overflow: hidden;
    margin-bottom: var(--sv);
    border-right: var(--sh) solid var(--vim-StatusLineBg);
    border-bottom: var(--sv) solid var(--vim-StatusLineBg);
    display: flex;
    align-items: start;
    justify-content: center;
    background: var(--vim-StatusLineBg);

    img {
      width: 100%;
    }
  }
  .title {
    margin-bottom: var(--sv);
  }
  .description {
    color: var(--vim-vimLineComment);
    margin-bottom: var(--sv);
    padding-bottom: var(--sv);
    border-bottom: 2px solid var(--vim-vimLineComment);
    flex-grow: 1;
  }
  .buttons {
    display: flex;
    gap: calc(2 * var(--sh));
  }
}