body {
    margin: 0px;
    background-color: #212327;
    font-family: sans-serif;
    height: 100%;
}
a {
    color: #fff;
}
#navbar {
    height: 60px;
    background-color: #383b42;
    color: #fff;
    padding: 10px 0px;
}
.logo {
    float: left;
    padding-left: 50px;
    max-width: 25%;
}
.menu {
    float: right;
    height: 100%;
    padding-right: 50px;
}
.logo img {
    display: block;
    height: 100%;
    width: auto;
}
.menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}
.menu ul li {
    display: block;
    margin-left: 50px;
}
#footer {
    width: 100%;
    height: 200px;
    background-color: #1f2021;
    position: relative;
    bottom: 0px;
}
#mainWrap {
    width: 1180px;
    max-width: 1180px;
    margin: 20px 0px;
    background-color: #383b42;
}