@import "../../index.scss";

.project {
  .cover {
    border-right: var(--sh) solid var(--vim-StatusLineBg);
    border-bottom: var(--sv) solid var(--vim-StatusLineBg);
    margin-bottom: var(--sv);
    width: calc(100% + var(--sh));
    background: var(--vim-StatusLineBg);

    .coverContainer {
      // max-height: 350px;
      // width: 100%;
      // overflow: hidden;
      // align-items: center;
      // justify-content: center;

      // img {
      //   width: 100%;
      //   display: block;
      //   user-select: none;
      // }
      max-height: 350px;
      overflow: hidden;
      display: flex;
      align-items: start;
      justify-content: center;
      background: var(--vim-StatusLineBg);

      img {
        width: 100%;
      }
    }

    .title {
      color: var(--vim-vimVar);
      font-weight: bold;
      @include paddingsFullEqual;
      padding-bottom: 0px;
    }
  }
  .description {
    margin-bottom: calc(3 * var(--sv));
  }
  .gallery {
    margin-bottom: calc(3 * var(--sv));

    // > :first-child {
    //   background-color: var(--vim-StatusLineBg);
    //   color: var(--vim-StatusLineFg);
    //   // margin-bottom: var(--sv);
    //   border-right: var(--sh) solid var(--vim-StatusLineBg);
    //   border-bottom: var(--sv) solid var(--vim-StatusLineBg);
    //   width: calc(100% + var(--sh));
    //   margin-bottom: calc(-1 * var(--sv));
    //   @include paddingsFullEqual;
    // }
  }
  .links {
    .container {
      display: flex;
      gap: calc(2 * var(--sh));
    }
  }
}