@import "../../index.scss";

.project {
  .cover {
    border-right: var(--sh) solid var(--vim-StatusLineBg);
    border-bottom: var(--sv) solid var(--vim-StatusLineBg);
    margin-bottom: var(--sv);
    width: calc(100% + var(--sh));
    background: var(--vim-StatusLineBg);

    .coverContainer {
      max-height: 350px;
      overflow: hidden;

      img {
        max-width: 100%;
        display: block;
        user-select: none;
      }
    }

    .title {
      color: var(--vim-vimVar);
      font-weight: bold;
      @include paddingsFullEqual;
      padding-bottom: 0px;
    }
  }
  .description {
    margin-bottom: calc(3 * var(--sv));
    white-space: pre-wrap;
  }
  .gallery {
    > :first-child {
      background-color: var(--vim-StatusLineBg);
      color: var(--vim-StatusLineFg);
      // margin-bottom: var(--sv);
      border-right: var(--sh) solid var(--vim-StatusLineBg);
      border-bottom: var(--sv) solid var(--vim-StatusLineBg);
      width: calc(100% + var(--sh));
      margin-bottom: calc(-1 * var(--sv));
      @include paddingsFullEqual;
    }
  }
}