@import "../../index.scss";

.project {
  .title {
    background-color: var(--vim-vimVar);
    color: var(--vim-StatusLineBg);
    font-weight: bold;
    // margin-bottom: var(--sv);
    border-right: var(--sh) solid var(--vim-StatusLineBg);
    border-bottom: var(--sv) solid var(--vim-StatusLineBg);
    width: calc(100% + var(--sh));
    margin-bottom: calc(-1 * var(--sv));
    @include paddingsFull;
  }
  .cover {
    border-right: var(--sh) solid var(--vim-StatusLineBg);
    border-bottom: var(--sv) solid var(--vim-StatusLineBg);
    margin-bottom: var(--sv);
    width: calc(100% + var(--sh));
    height: 350px;
    overflow: hidden;
    background: var(--vim-StatusLineBg);

    img {
      max-width: 100%;
      display: block;
      user-select: none;
    }
  }
  .description {
    margin-bottom: calc(3 * var(--sv));
  }
  .gallery {
    > :first-child {
      background-color: var(--vim-StatusLineBg);
      color: var(--vim-StatusLineFg);
      // margin-bottom: var(--sv);
      border-right: var(--sh) solid var(--vim-StatusLineBg);
      border-bottom: var(--sv) solid var(--vim-StatusLineBg);
      width: calc(100% + var(--sh));
      margin-bottom: calc(-1 * var(--sv));
      @include paddingsFull;
    }
  }
}