@import "../../index.scss";

.galleryContainer {
  border-right: var(--sh) solid var(--vim-StatusLineBg);
  border-bottom: var(--sv) solid var(--vim-StatusLineBg);
  margin-bottom: var(--sv);
  background: var(--vim-StatusLineBg);
  width: calc(100% + var(--sh));

  .gallery {
    position: relative;
    overflow-x: hidden;

    .wrapper {
      display: flex;
      flex-direction: row;
      width: max-content;
      transition: 0.5s;
      // transition-timing-function: steps(calc(round(1200px / 9px)));
      transition-timing-function: steps(15);

      .pictureContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          display: block;
          max-width: 100%;
          user-select: none;
        }
      }
    }
    > button {
      display: block;
      position: absolute;
      background: transparent;
      border: 0px;
      color: #fff;
      font-family: inherit;
      font-size: inherit;
      padding: 0px calc(3 * var(--sh));
      margin: 0px;
      height: 100%;
      cursor: pointer;
      white-space: pre;
      opacity: 0;
      z-index: 10;
      transition: 0.2s steps(3);

      &.prev {
        left: 0;
        top: 0;

      }
      &.next {
        right: 0;
        top: 0;
        transform: rotate(180deg);
      }

      &:hover {
        opacity: 0.7;
        background-repeat:no-repeat;
        background-size:
          calc(1 * (100% / 7)) 100%,
          calc(2 * (100% / 7)) 100%,
          calc(3 * (100% / 7)) 100%,
          calc(4 * (100% / 7)) 100%,
          calc(5 * (100% / 7)) 100%,
          calc(6 * (100% / 7)) 100%,
          calc(7 * (100% / 7)) 100%;
        background-image: 
          linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
          linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
          linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
          linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
          linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
          linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
          linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15));
      }
    }
    .navigation {
      display: flex;
      position: absolute;
      bottom: 0px;
      width: 100%;
      margin-bottom: var(--sv);
      gap: var(--sh);
      justify-content: center;

      button {
        display: block;
        border: 0px;
        background: var(--vim-StatusLineBg);
        color: var(--vim-StatusLineFg);
        font-size: inherit;
        font-family: inherit;
        cursor: pointer;
        @include paddingsH;

        &.current {
          background: var(--vim-vimCommand);
          font-weight: bold;
          padding-left: calc(2 * var(--sh));
          padding-right: calc(2 * var(--sh));
        }

        &:hover {
          background: var(--vim-vimCommand);
        }
      }
    }
  }
  .pictureDescription {
    @include paddingsFullEqual;
    background-color: var(--vim-StatusLineFg);
    color: var(--vim-StatusLineBg);
  }
}