 charset "utf-8";

html {
	margin: none;
}

body {
	background: #ffffff;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.block {
	margin: 30px 15% 0 15%;
	max-height: 1900px;
	background: #2DB079;
	padding: 30px 30px 30px 30px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
	border-radius: 5px	
}

.menu {
	height: 60px;
	background: #2DB079;
	margin: 0px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
	max-width: 100%;
}

.text {
	color: black;
	font-size: 13pt;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.menu button {
	background: #1E7852;
	border: none;
	height: 40px;
	min-width: 200px;
	margin: 10px 5px 10px 0px;
	display: inline-block;
}

#buttons {
	height: inherit;
	margin-left: 15%;
}

#leftbutton {
	border-radius: 5px 0 0 5px;
}

#rightbutton {
	border-radius: 0 5px 5px 0;
}

@media screen and (max-width: 530px) {
	.block {
		margin: 30px 0 0 0;
		width: 100%;
		border-radius: 0px;
	}
}

@media screen and (max-width: 1166px) {
	.menu button {
		min-width: 150px;
	}
}

@media screen and (max-width: 880px) {
	.menu button {
		min-width: 100px;
	}
}