@mixin paddingsFull {
  padding-top: var(--sv);
  padding-bottom: var(--sv);
  padding-left: var(--sh);
  padding-right: var(--sh);
}

@mixin paddingsFullEqual {
  padding-top: var(--sv);
  padding-bottom: var(--sv);
  padding-left: calc(2 * var(--sh));
  padding-right: calc(2 * var(--sh));
}

@mixin paddingsH {
  padding-left: var(--sh);
  padding-right: var(--sh);
}

@mixin paddingsV {
  padding-top: var(--sv);
  padding-bottom: var(--sv);
}

@mixin contentProps {
  max-width: 1200px;
  margin: auto;
}

// TODO: @import "https://www.nerdfonts.com/assets/css/webfont.css"

body {
  --vim-vimParenSep: #d4be98;
  --vim-vimLineComment: #928374;
  --vim-vimString: #a9b665;
  --vim-CursorLineBg: #32302f;
  --vim-vimFuncName: #a9b665;
  --vim-vimOper: #e78a4e;
  --vim-CursorLineNrBg: #000000;
  --vim-LineNrFg: #5a524c;
  --vim-NormalFg: #d4be98;
  --vim-vimIsCommand: #d4be98;
  --vim-vimFunction: #a9b665;
  --vim-vimSubst: #ea6962;
  --vim-CursorLineNrFg: #928374;
  --vim-CursorBg: #000000;
  --vim-CursorLineFg: #000000;
  --vim-CursorFg: #000000;
  --vim-vimVar: #7daea3;
  --vim-StatusLineBg: #32302f;
  --vim-vimLet: #e78a4e;
  --vim-vimOperParen: #d4be98;
  --vim-LineNrBg: #000000;
  --vim-vimFuncVar: #7daea3;
  --vim-vimCommand: #ea6962;
  --vim-StatusLineFg: #ddc7a1;
  --vim-vimFuncBody: #d4be98;
  --vim-NormalBg: #282828;
  --vim-vimNumber: #d3869b;
  --vim-vimNotFunc: #ea6962;

  --sv: 19px;
  --sh: 9px;

  margin: 0px;
  font-size: 16px;
  font-family: "CaskaydiaCove Nerd Font", monospace;
  line-height: 19px;
  background-color: var(--vim-NormalBg);
  color: var(--vim-StatusLineFg);
}

* {
  box-sizing: border-box;
}

html {
  > ::-webkit-scrollbar {
    width: var(--sh);
  }
  
  > ::-webkit-scrollbar-track {
    background-color: var(--vim-LineNrBg);
    position: absolute;
  }
  
  > ::-webkit-scrollbar-thumb {
    background-color: var(--vim-LineNrFg);
  }
}

p {
  margin-top: 0px;
  margin-bottom: var(--sv);

  &:last-child {
    margin-bottom: 0px;
  }
}

a {
  color: var(--vim-vimVar);
  text-decoration: none;

  &:hover {
    background: var(--vim-StatusLineBg);
  }

  &:not([href^="/"]):after {
    content: " \f08e";
    padding-right: var(--sh);
  }
}

.button-link {
  background-color: var(--vim-StatusLineBg);
  color: var(--vim-StatusLineFg);
  text-decoration: none;
  display: flex;
  @include paddingsH();

  &:hover {
    background: var(--vim-vimCommand);
  }

  &.big {
    height: calc(3 * var(--sv));
    align-items: center;
  }

  &.red {
    background-color: var(--vim-vimCommand);
    color: var(--vim-StatusLineBg);

    &:hover {
      background: var(--vim-StatusLineFg);
    }
  }

  &.blue {
    background-color: var(--vim-vimVar);

    color: var(--vim-StatusLineBg);

    &:hover {
      background: var(--vim-StatusLineFg);
    }
  }
}